{% extends 'base.html' %}
{% load static %}

{% block title %} Galerie {% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>Les critiques ({{ page_obj.paginator.count }} déposées)</h2>
    </div>
</div>


<div class="container">

    <div class="row">
        {% for review in reviews %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow border-0">

                <div class="title">
                    <div class="row">
                        <div class="col">
                            <p class=" rouge-fonce"><strong>{{ review.picture.title|truncatechars:12 }}, postée par <a
                                        href="{% url 'gallery:pictures_list' action='user' pk=review.picture.user.id %}">
                                        {{ review.picture.user }}</a>
                                </strong>
                                <i>(note moy. : {{ review.picture.global_score }})</i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <a href="{{ review.picture.get_absolute_url }}">
                        <img class="card-img-top rounded mx-auto" alt="{{ review.picture.title }}"
                            src="{{ review.picture.file_name.url }}" data-holder-rendered="true">
                        <!-- <img src="#" class="img-responsive"
                            style="width: 100%; float: left; margin-right: 10px;" /> -->
                    </a>
                </div>

                <div class="card-text">
                    <div class="row mb-2">
                        <div class="col">
                            <span class="badge rouge-fonce little">notée {{ review.calculated_score }} par
                                {{review.user|truncatechars:12 }}, le {{ review.review_date|date:"d/m/Y" }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <table class="table table-bordered table-sm table-responsive-md">
                        <tr class="table-secondary little">
                            <td style="width: 25%" class="text-center"> <strong>intention </strong> </td>
                            <td style="width: 25%" class="text-center"> <strong>technique </strong> </td>
                            <td style="width: 25%" class="text-center"> <strong>rendu </strong> </td>
                            <td style="width: 25%" class="text-center"> <strong>globale </strong> </td>
                        </tr>
                            <tr>
                                <td class="text-center"><strong> {{ review.score_intention }} </strong></td>
                                <td class="text-center"><strong> {{ review.score_technical }} </strong></td>
                                <td class="text-center"><strong> {{ review.score_picture }} </strong></td>
                                <td class="text-center"><strong> {{ review.score_global }} </strong></td>
                            </tr>

                    </table>


                    <div class="row mb-4 justify-content-center">
                        <h4><a class="btn btn-secondary btn-sm" href="{{ review.get_absolute_url }}" role="button"> Voir
                                la critique
                                &raquo;</a></h4>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% if request.GET.order_by %}
        {% with "&order_by="|add:request.GET.order_by as order_by %}
        {% include 'pagination.html' %}
        {% endwith %}
        {% else %}
        {% with "" as order_by %}
        {% include 'pagination.html' %}
        {% endwith %}
        {% endif %}
    </div>


</div> <!-- /container -->

{% endblock %}