{% extends 'base.html' %}
{% load static %}

{% block title %} Galerie {% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>Les critiques ({{ page_obj.paginator.count }} déposées)</h2>
    </div>
</div>


<div class="container">

    <div class="row">
        {% for review in reviews %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="item">
                    <a href="{{ review.picture.get_absolute_url }}">
                        <img class="card-img-top rounded mx-auto" alt="{{ review.picture.title }}"
                            src="{{ review.picture.file_name.url }}" data-holder-rendered="true">
                        <!-- <img src="#" class="img-responsive"
                            style="width: 100%; float: left; margin-right: 10px;" /> -->
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6>{{ review.picture.title|truncatechars:18 }}</h6>
                        </div>
                        <div class="col">
                            <span class="badge badge-secondary">score : {{ review.calculated_score }}</span>
                        </div>
                    </div>
                    <div class="row text-center">
                        <p><a class="btn btn-secondary btn-sm" href="{{ review.get_absolute_url }}" role="button">Voir
                                critique &raquo;</a></p>


                    </div>
                    <div class="row">
                        <p>le {{ review.review_date|date:"d-m-Y" }}</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="badge badge-info">int: {{ review.score_intention }}</span>
                        </div>
                        <div class="col-md-3">
                            <span class="badge badge-info">tec: {{ review.score_technical }}</span>
                        </div>
                        <div class="col-md-3">
                            <span class="badge badge-info">ren: {{ review.score_picture }}</span>
                        </div>
                        <div class="col-md-3">
                            <span class="badge badge-info">glo: {{ review.score_global }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
    {% if request.GET.order_by %}
        {% with "&order_by="|add:request.GET.order_by as order_by %}
            {% include 'pagination.html' %}
        {% endwith %}
    {% else %}
        {% with "" as order_by %}
            {% include 'pagination.html' %}
        {% endwith %}
    {% endif %}
    </div>


</div> <!-- /container -->

{% endblock %}