<div class="container">

    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th> <strong>Critiques </strong> </th>
            </tr>
        </thead>
        <tbody>


            {% for review in reviews %}
            <tr>
                <td>
                    <a href="{% url 'review:detail' review.id %}"><strong>Critique de {{ review.user }} : note ( 
                        {{ review.calculated_score }})</strong></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

</div> <!-- /container -->