{% extends 'base.html' %}
{% load static %}

{% block title %} Critique de {{ picture.title }} {% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>{{ picture.title }} par {{ picture.user }}</h2>

        <h4>Critique de {{ review.user }}</h4>
        {% if request.GET.ok %}
            <h6>La critique est bien enregistrée</h6>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row mb-2">
        <!-- picture -->
        <div class="col-md-8">
            <div class="card box-shadow mx-auto">
                <div class="item">
                    <a href="{{ picture.get_absolute_url }}"><img class="card-img-top rounded mx-auto" alt="photo"
                            src="{{ picture.file_name.url }}" data-holder-rendered="true"></a>
                    <!-- <img src="#" class="img-responsive"
                    style="width: 100%; float: left; margin-right: 10px;" /> -->
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-md-8 text_left">
                            <h6 class="card-text">{{ picture.title }} ({{ picture.global_score|floatformat:2 }}) (par
                                <a href="{% url 'gallery:pictures_list' action='user' pk=picture.user.id %}">
                                    {{ picture.user }}</a>)
                            </h6>
                        </div>
                        <div class="col-md-4">

                            <h6 class="text-right">Critique de {{ review.user }}</h6>

                        </div>
                    </div>
                    <div class="row mb-2">
                        <p class="card-text"><strong>Description : </strong>{{ picture.description }} </p>
                    </div>
                    <div class="row mb-2">
                        <p class="card-text"><strong>Technique : </strong>{{ picture.description }} </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="row">
                <p><strong>Note moyenne de la revue : {{ review.calculated_score }}</strong></p>
            </div>

            
            <div class="row">
                <p><strong>Note intention : {{ review.score_intention }}</strong> <br> {{ review.comment_intention }}
                </p>
            </div>
            <div class="row">
                <p><strong>Note technique : {{ review.score_technical }}</strong> <br> {{ review.comment_technical }}
                </p>
            </div>
            <div class="row">
                <p><strong>Note rendu image : {{ review.score_picture }}</strong> <br> {{ review.comment_picture }}</p>
            </div>
            <div class="row">
                <p><strong>Note globale : {{ review.score_global }}</strong> <br> {{ review.comment_global }}</p>
            </div>
            {% if review.user == user %}
            <div class="row">
                <p><a class="btn btn-secondary btn-sm" href="{% url 'review:review_update' pk=review.pk %}" role="button">Modifier
                        critique &raquo;</a></p>
            </div>
            <div class="row">
                <p><a class="btn btn-secondary btn-sm" href="{% url 'review:review_delete' pk=review.pk %}" role="button">Supprimer
                        critique &raquo;</a></p>
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}