{% extends 'base.html' %}
{% load static %}

{% block title %} Catégories {% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h2>Les catégories</h2>
    </div>
</div>


<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col">
            <h3><a href="{% url 'gallery:pictures_list' action='category' pk=category.id %}"
                    class="badge badge-pill badge-secondary text-white">{{ category }} </a></h3>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}