{% extends 'base.html' %}
{% load static %}

{% block title %} {{ picture.title }} {% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h2>{{ picture.title }}</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card box-shadow mx-auto">
            <div class="item">
                <img class="card-img-top rounded mx-auto" alt="photo" src="{{ picture.file_name.url }}"
                    data-holder-rendered="true">
                <!-- <img src="#" class="img-responsive"
                    style="width: 100%; float: left; margin-right: 10px;" /> -->
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-5">
                        <h6>
                            {% if picture.global_score > 0 %}
                            {{ picture.global_score|floatformat:2 }}
                            {% else %}
                            Pas de note actuellement
                            {% endif %}
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-secondary btn-sm" href="{% url 'review_create' picture.id %}"
                            role="button">Critiquer &raquo;</a>
                    </div>
                    <div class="col-md-5">
                        <h6 class="text-right">par {{ picture.user }}</h6>
                    </div>
                </div>
                <div class="row mb-2">
                    <p class="card-text"><strong>Description: </strong><br>{{ picture.description }} </p>
                </div>
                <div class="row mb-4">
                    <p class="card-text"><strong>Technique: </strong><br>{{ picture.description }} </p>
                </div>
                {% if reviews %}
                <div class="row mb-4">
                    {% include 'reviews_list.html' %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}