{% extends 'base.html' %}
{% load static %}

{% block title %} {{ picture.title }} {% endblock %}

{% block content %}
<!-- <div class="jumbotron">
    <div class="container">
        <h2>{{ picture.title }}</h2>
    </div>
</div> -->
<br>
<br>
<br>
<br>
<div class="container">
    <!-- <div class="row"> -->
    <div class="card box-shadow mx-auto border-0">
        <div class="title">
            <div class="row mb-2">
                <div class="col">
                    <h4 class=" rouge-fonce">{{ picture.title }}, postée par <a
                            href="{% url 'gallery:pictures_list' action='user' pk=picture.user.id %}">
                            {{ picture.user }}</a> le {{ picture.upload_date|date:"d-m-Y" }}
                    </h4>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="card-img-top rounded mx-auto" alt="photo" src="{{ picture.file_name.url }}"
                data-holder-rendered="true">
            <!-- <img src="#" class="img-responsive"
                    style="width: 100%; float: left; margin-right: 10px;" /> -->
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-5">
                    <strong class="rouge-fonce">
                        {% if picture.global_score > 0 %}
                        note moyenne: {{ picture.global_score|floatformat:2 }}
                        {% else %}
                        Pas de note actuellement
                        {% endif %}
                    </strong>
                </div>
                <div class="col-md-2">
                    {% if noted_by_user %}
                    <a class="btn btn-secondary btn-sm" href="{% url 'review:review_update' pk=noted_by_user.0.id %}"
                        role="button">Modifier votre
                        critique &raquo;</a>
                    {% elif picture.user == user %}
                    <button class="btn btn-secondary btn-sm" disabled>Votre photo</a>
                        {% else %}
                        <a class="btn btn-secondary btn-sm" href="{% url 'review:review_create' picture.id %}"
                            role="button">Donner son avis &raquo;</a>
                        {% endif %}
                </div>
            </div>
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th> <strong>Description </strong> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ picture.description }} </td>
                    </tr>
                </tbody>

            </table>

            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th> <strong>Technique </strong> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ picture.technical }} </td>
                    </tr>
                </tbody>

            </table>

            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th> <strong>Appareil </strong> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ picture.camera }} </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col">
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th> <strong>Objectif </strong> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ picture.lens }} </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="col">
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th> <strong>Lieu </strong> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ picture.place }} </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th> <strong>Catégories </strong> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                {% for category in picture.categories.all %}
                                <div class="col">
                                    <h4><a href="{% url 'gallery:pictures_list' action='category' pk=category.id %}"
                                            class="badge badge-pill badge-secondary text-white">{{ category }} </a></h4>
                                </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    {% if reviews %}

    {% include 'review/reviews_list.html' %}

    {% endif %}
    <!-- </div> -->
    <br><br>
</div>
{% endblock %}