{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Votre photo {% endblock %}

{% block content %}
<div class="jumbotron h-25">
        <div class="container">
            <br>
            <h5>Merci de prendre le temps de critiquer cette photo<br>
                La critique doit être constructive, vous pouvez argumenter chaque note que vous attribuez.</h5>
        </div>
</div>

<div class="container">
    <div class="row mb-2">
        <!-- picture -->
        <div class="col-md-7">
            <div class="card box-shadow mx-auto">
                <div class="item">
                    <img class="card-img-top rounded mx-auto" alt="photo" src="{{ picture.file_name.url }}"
                        data-holder-rendered="true">
                    <!-- <img src="#" class="img-responsive"
                    style="width: 100%; float: left; margin-right: 10px;" /> -->
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-5">
                            <h5>{{ picture.title }}</h5>
                        </div>
                        <div class="col-md-5">
                            <h6 class="text-right">par {{ picture.user }}</h6>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <p class="card-text"><strong>Description: </strong>{{ picture.description }} </p>
                    </div>
                    <div class="row mb-2">
                        <p class="card-text"><strong>Technique: </strong>{{ picture.description }} </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form -->
        <div class="col-md-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary btn-sm" type="submit">Envoyer...</button>
            </form>
        </div>
    </div>
</div>
    {% endblock %}