<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        {% for i in '012'|make_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="item">
                    <a href="#">
                        <img class="card-img-top rounded img-substitute mx-auto" alt="image test"
                            src="#" data-holder-rendered="true">
                    </a>
                </div>
                <div class="card-body">
                    <h3 class="card-title">Heading</h3>
                    <p class="card-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                        cursus commodo, tortor
                        mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                        magna
                        mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
        </div>
       {% endfor %}
    </div>

    <hr>

</div> <!-- /container -->