.picture-gallery {
    height: auto;
    width: auto;
    display: block;
}

.picture-detail {
    max-height: 500px;
    height: auto;
    width: auto;
    display: block;
}

.footer
{
    height: 50px;
    border-top: solid 1px black;
}
