{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<section class="page-section bg-primary" id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Profil {{ user.username }} - {{ user.email }}</h2>
                {% csrf_token %}
                {% if form.email.errors %}
                {{ form.email.errors }}
                {% endif %}
                <p>{{ form.email }}</p>
                <input type="submit" class="btn btn-default btn-lg" value="Réinitialiser mot de passe">
            </div>
        </div>
    </div>
</section>

{% endblock content %}