<!-- templates/registration/signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="page-section" id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Inscription</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit">S'inscrire</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}