<div class="container">
    <div class="row">
        {% for picture in pictures %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="item">
                    <a href="#">
                        <img class="card-img-top rounded mx-auto picture-gallery" alt="photo" src="{{ picture.file_name.url }}"
                            data-holder-rendered="true">
                        <!-- <img src="#" class="img-responsive"
                            style="width: 100%; float: left; margin-right: 10px;" /> -->
                    </a>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ picture.title }}</h3>
                    <p class="card-text">{{ picture.description }} </p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% include 'pagination.html' %}
    </div>


</div> <!-- /container -->