<div class="container">
    <div class="row">
        {% for picture in pictures %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="item">
                    <a href="{{ picture.get_absolute_url }}">
                        <img class="card-img-top rounded mx-auto" alt="{{ picture.title }}"
                            src="{{ picture.file_name.url }}" data-holder-rendered="true">
                        <!-- <img src="#" class="img-responsive"
                            style="width: 100%; float: left; margin-right: 10px;" /> -->
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <h6>{{ picture.title|truncatechars:18 }}</h6>
                        </div>
                        <div class="col-md-5">
                            <a href="{% url 'gallery:pictures_list' action='user' pk=picture.user.id %}">
                                <h6 class="text-right">par {{ picture.user|truncatechars:20 }}</h6>
                            </a>
                        </div>
                    </div>
                    <p class="card-text">{{ picture.description|truncatewords:15 }} </p>
                    <p><a class="btn btn-secondary btn-sm" href="{{ picture.get_absolute_url }}" role="button">Voir
                            photo &raquo;</a></p>
                    {% if contest.vote_open %}
                    <p><a class="btn btn-secondary btn-sm" href="{% url 'contest:user_vote' pk_contest=contest.id pk_picture=picture.id %}" role="button">Voter
                            &raquo;</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% include 'pagination.html' %}
    </div>


</div> <!-- /container -->