<!-- templates/home.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %} PhotoSite {% endblock %}

{% block content %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h2>Bienvenue {% if user.is_authenticated %}
        <strong>{{ user.username }}</strong> {% endif %} sur PhotoSite ! Ici vous pouvez...
      </h2>
      <ul>
      <li><h4>Visualiser les photos déposées par les membres</h4></li>
      <li><h4>Proposer une critique constructive</h4></li>
      <li><h4>Participer et voter à des concours</h4></li>
    </ul>
      {% if not user.is_authenticated %}

      <p>Vous n'êtes pas connecté</p>
      <a class="btn btn-secondary btn-sm" href="{% url 'login' %}" role="button">Connexion</a>
      <a class="btn btn-secondary btn-sm" href="{% url 'signup' %}" role="button">Inscription</a>
      {% endif %}
    </div>
  </div>

  <!-- Dernières photos -->
  <div class="container">
    <div class="row">
      <h5> <a class="nav-link" href="{% url 'gallery:pictures_list' 'last' %}"><strong>Photos les plus récentes</strong></a></h5>
    </div>
    {% with last_pictures as pictures %}
    {% include 'little_gallery.html' %}
    {% endwith %}

  </div>
  <br>
  <!-- Vos photos -->
  {% if user.is_authenticated %}
  <div class="container">
    <div class="row">
      <h5> <a class="nav-link" href="{% url 'gallery:pictures_list' 'user' %}"><strong>Vos photos</strong></a></h5>
    </div>
    {% if user_pictures %}
    {% with user_pictures as pictures %}
    {% include 'little_gallery.html' %}
    {% endwith %}
    {% else %}
    <p>Vous n'avez déposé aucune photo, rdv <a href="{% url 'gallery:image_upload' %}">ici </a> pour votre premier
      dépot.</p>
    {% endif %}
    <br>
  </div>
  {% endif %}

  <!-- Dernières critiques -->
  <div class="container">
    <div class="row">
      <h5> <a class="nav-link" href="{%  url 'review:list' %}">Dernières critiques</a></h5>
    </div>
    <div class="row">
      {% for review in last_reviews %}
      <div class="col-md-2">
        <div class="card border-0">
          <div class="item">
            <a href="{{ review.get_absolute_url }}" alt="{{ review.picture.title }}">
              <img class="card-img-top mx-auto" alt="photo" src="{{ review.picture.file_name.url }}"
                data-holder-rendered="true">
            </a>
          </div>

          <div class="item text-center">
            <h5>
              <span class="badge rouge-fonce">{{ review.calculated_score }} par {{ review.user }}</span>
            </h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>

  <!-- Derniers concours -->

  <div class="container">
    <h5>Concours récents</h5>
    <ul>
      {% for contest in contests %}
      <li><h5><a href="{% url 'contest:detail' contest.id %}">{{ contest }}</a> <span
          class="badge badge-dark">{{contest.pictures.all|length }} photos</span></h5></li>
      {% endfor %}
      <li><h5><a href="{% url 'contest:list' %}">autres...</a></h5></li>
    </ul>
  </div>


</main>

{% endblock %}