<!-- templates/home.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h2 >Bienvenue {% if user.is_authenticated %}
        <strong>{{ user.username }}</strong> {% endif %} sur PhotoSite ! Ici vous pouvez...</h2>
      <h4>Visualiser les photos déposées par les membres</h4>
      <h4>Proposer une critique constructive</h4>
      <h4>Participer et voter à des concours</h4>
      {% if not user.is_authenticated %}

      <p>Vous n'êtes pas connecté</p>
      <a class="btn btn-secondary btn-sm" href="{% url 'login' %}" role="button">Connexion</a>
      <a class="btn btn-secondary btn-sm" href="{% url 'signup' %}" role="button">Inscription</a>
      {% endif %}
    </div>
  </div>

  <!-- Dernières photos -->
  <div class="container">
    <h5> <a class="nav-link" href="{% url 'gallery:pictures_list' 'last' %}">Dernières photos</a></h5>
    {% with last_pictures as pictures %}
    {% include 'little_gallery.html' %}
    {% endwith %}
  </div>

  <!-- Vos photos -->
  {% if user.is_authenticated %}
  <div class="container">
    <h5> <a class="nav-link" href="{% url 'gallery:pictures_list' 'user' %}">Vos photos</a></h5>
    {% if user_pictures %}
    {% with user_pictures as pictures %}
    {% include 'little_gallery.html' %}
    {% endwith %}
    {% else %}
    <p>Vous n'avez déposé aucune photo, rdv <a href="{% url 'gallery:image_upload' %}">ici </a> pour votre premier dépot.</p>
    {% endif %}
    <br>
  </div>
  {% endif %}

  <!-- Dernières critiques -->
  <div class="container">
    <h5> <a class="nav-link" href="#">Dernières critiques</a></h5>
    <div class="row">
      {% for review in last_reviews %}
      <div class="col-md-2">
        <div class="card">
          <div class="item">
            <a href="{{ review.get_absolute_url }}" alt="{{ review.picture.title }}">
              <img class="card-img-top rounded mx-auto" alt="photo" src="{{ review.picture.file_name.url }}"
                data-holder-rendered="true">
            </a>
          </div>
          <div class="item">
            <p>{{ review.calculated_score }} par {{ review.user }}</p>
            <p></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>

  <div class="jumbotron">
    <div class="container">
      <h4>Concours</h4>
    </div>
  </div>

</main>

{% endblock %}