    <div class="row">
        {% for picture in pictures %}
        <div class="col-md-4">
            <div class="card border-0">
                <div class="title">
                    <span>{{ picture.title|truncatechars:30 }}</span>
                </div>
                <div class="item">
                    <a href="{{ picture.get_absolute_url }}">
                        <img class="card-img-top mx-auto" alt="photo" src="{{ picture.file_name.url }}"
                            data-holder-rendered="true">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
