<div class="container">
    <div class="row">
        {% for contest_picture in contest_pictures %}
        {% with picture=contest_picture.picture %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>{{ picture.title|truncatechars:18 }}</h6>
                        </div>

                        <div class="col-md-6">
                            <a href="{% url 'gallery:pictures_list' action='user' pk=picture.user.id %}">
                                <h6 class="text-right">par {{ picture.user|truncatechars:20 }}</h6>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <a href="{{ picture.get_absolute_url }}">
                        <img class="card-img-top rounded mx-auto" alt="{{ picture.title }}"
                            src="{{ picture.file_name.url }}" data-holder-rendered="true">
                        <!-- <img src="#" class="img-responsive"
                            style="width: 100%; float: left; margin-right: 10px;" /> -->
                    </a>
                </div>
                <div class="card-body">
                    {% if contest.vote_open %}
                    <div class="row">
                        <h6>
                            {% if contest_picture.score_contest > 0 %}
                            {{ contest_picture.score_contest }} vote{{ contest_picture.score_contest|pluralize }}
                            {% else %}
                            <i>aucun vote</i>
                            {% endif %}
                        </h6>
                    </div>
                    {% endif %}
                    <p class="card-text">{{ picture.description|truncatewords:12 }} </p>

                    {% if contest.vote_open %}
                    {% if contest_picture.vote_user %}
                    <button class="btn btn-secondary btn-sm" disabled>Déjà voté</a>
                        {% elif picture.user == user %}
                        <button class="btn btn-secondary btn-sm" disabled>Votre photo</a>
                            {% else %}
                            <p><a class="btn btn-secondary btn-sm"
                                    href="{% url 'contest:user_vote' contest_picture.id  %}" role="button">Voter
                                    &raquo;</a></p>
                            {% endif %}
                            {% else %}
                            <p><a class="btn btn-secondary btn-sm" href="{{ picture.get_absolute_url }}"
                                    role="button">Voir
                                    photo &raquo;</a></p>
                            {% endif %}
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    <div class="row">
    {% if request.GET.order_by %}
        {% with "&order_by="|add:request.GET.order_by as order_by %}
            {% include 'pagination.html' %}
        {% endwith %}
    {% else %}
        {% with "" as order_by %}
            {% include 'pagination.html' %}
        {% endwith %}
    {% endif %}
    </div>


</div> <!-- /container -->